.users__management__title {
    text-align: center;
    margin: 20px 0;
}

.users__management__btn {
    float: right;
    margin-bottom: 30px;

    button{
        margin-right: 20px;
    }

    .refresh-icon, .add-user-icon {
        margin-right: 6px;
    }
}


.wrapper__table {
    width: 100%;
}


.user__update__icon,
.user__delete__icon {
    margin: 0 4px;
    padding: 8px;
    color: #55B;
    cursor: pointer;
}

.user__delete__icon {
    color: red;
}

.user__update__icon:hover,
.user__delete__icon{
    opacity: 0.5;
}

.paginate {
    position: fixed;
    bottom: 2%;
    right: 1%;
    width: 100%;
}

.paginate > ul{
    justify-content: center;
}

