.register-container {
    // background-color: #f0f2f5;
    height: 720px;
}

.register-content {
    height: 100%;
    
}

.register-wrapper-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-title {
    color: #0d6efd;
    text-align: center;
}

.register-wrapper-form {
    display: flex;
    align-items: center;
}

.register-form {
    width: 369px;
    padding: 16px;
    border-radius: 8px;
    // text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.register-btn {
    width: 100%;
}

.separate-line {
    border-top: 1px solid #dadde1;
    margin: 20px 16px;
}

.redirect-login-btn {
    width: 100%;
}

.input-form-item {
    label {
        margin-bottom: 4px;
    }
}